nav{
height: 20vh;
background-color: black;
text-align: center;
display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 0px;
}
nav .navLink{
     color: white;
     margin: 2rem;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 1rem;
     
}

nav .navLink:hover{
    color: orange;
}
nav .active{
    color: yellowgreen;
}
section{
    display: grid;
    grid-gap : 1rem;
}
article{
    background-color:antiquewhite;
    padding: 2rem;
}
@media  screen and (min-width:600px) {
    section{
       grid-template-columns: auto auto;
    }
}
@media  screen and (min-width:992px) {
    section{
       grid-template-columns: auto auto auto;
    }
}